* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  margin: 0;
  background-color: wheat;
}

body,
button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

button {
  background: coral;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#container {
  flex: 1;
}

#container,
footer,
header {
  padding: 1rem;
}

footer,
header {
  background-color: #111111;
  color: white;
}

.actions {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.projects-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.projects-list > li {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}

.project-title {
  font-weight: bold;
}

.projects-list .delete-project {
  position: absolute;
  top: 1rem;
  right: 0.4rem;
}

.tasks-list {
  padding: 0.5rem 0;
  list-style-type: none;
}

.tasks-list > li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: capitalize;
}
